/*
This patch is intended to fix some issues relate to AUI datepicker

1. z-index: AUI datepicker is always below the dialog
2. broken layout: it seems to have some conflict with jquery datepicker and make very ugly border, icon
3. 404 error: when trying to load an image in blueprint plugin
4. broken layout: Team Calendar set ui-datepicker class's position to 'fixed'
5. broken previous and next button from AJS version 5.4.4-CONFDEV-21873

*/
.datepicker-roadmap-patch {
    /* Move this over usual dialog */
    z-index: 5000;
}

.datepicker-roadmap-patch .ui-widget-content {
    border: none;
}

.datepicker-roadmap-patch .hasDatepicker .ui-widget-header {
    background: none;
    border: none;
}

.datepicker-roadmap-patch .ui-datepicker-calendar .ui-state-default {
    border-color: transparent;
}

.datepicker-roadmap-patch .hasDatepicker .ui-datepicker-prev, .datepicker-roadmap-patch .hasDatepicker .ui-datepicker-next {
    background-image: none;
}

.datepicker-roadmap-patch .ui-datepicker-prev .ui-icon, .datepicker-roadmap-patch .ui-datepicker-next .ui-icon {
    width: 10px;
    text-indent: 0;
    background: none;
}

/*Hover style*/
.datepicker-roadmap-patch .ui-datepicker-prev.ui-state-hover:hover, .datepicker-roadmap-patch .ui-datepicker-next:hover {
    color: #3b73af;
    font-weight: bold;
    background: none;
    border: 0;
    outline: 0;
}

.datepicker-roadmap-patch .ui-datepicker {
    position: relative;
}

.datepicker-roadmap-patch .ui-icon-circle-triangle-w, .datepicker-roadmap-patch .ui-icon-circle-triangle-e {
    height: 35px;
}

/*fix bug: border of a hovered date is not fully visible*/
.datepicker-roadmap-patch .ui-datepicker-calendar > tbody > tr > td {
    padding: 1px;
}